.error {
    color: rgb(255, 0, 0);
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#hform {
    border: 4px solid #ff6f61;
    border-radius: 15px;
    padding: 5%;
    background-color: #ffffff;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
