.error {
  color: darkred;
}
html {
overflow-x: hidden;
}
body {
margin-top: 30px;
font-family: 'Arial', sans-serif;
background-color: #f0f8ff;
display: flex;
flex-direction: column;
align-items: center;
background-image: url("fon.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#hform {
border: 4px solid darkslateblue;
border-radius: 10px;
padding: 5%;
background-color: #d3c0e3;
margin-top: 50px;
text-align: center;
}
#sendbutton {
border: 2px solid #5e3f74;
border-radius: 10px;
margin-top: 15%;
padding: 3%;
background-color: #6d4e76;
color: #f0e1f5;
}
.h2 {
color: #421c66;
}
.button-container {
display: flex;
flex-direction: row;
width: 40%;
justify-content: space-around;
}
button {
border: 2px solid #3c0e43;
  border-radius: 10px;
  background-color: #d7c4e3;
  margin-bottom: 15px;
  padding: 8%;
  font-size: large;
  color: #1a1a2e;
}
.linktomain {
text-decoration: none;
color: #6a1b9a;
font-size: large;
}
#greentext {
text-align: center;
color: green;
}
input {
margin-bottom: 5px;
margin-top: 5px;
border-radius: 5px;
border: 1px solid #aaa;
padding: 5px;
}
